body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
}

/* NAVBAR */
.navbar {
    background-color: #222;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
